@import url(https://fonts.googleapis.com/css?family=Open+Sans);
$gthifree : 'globerthin_free';
@mixin vendors($opcion, $data){
   $var : (-webkit-, -moz-,-ms-,'');
   @each $k, $v in $var{
       #{$k}#{$opcion}:$data;
   }
}

@mixin imgcover(){
   	-webkit-background-size: cover!important;
   	-webkit-background-position: center;
   	-webkit-background-repeat: no-repeat;
   	background-size: cover!important;
	background-position: center center;
	background-repeat: no-repeat;
}
.center{
	padding:10px;
	@media(max-width:943px){
		width:100%;
	}
	@media(min-width:620px){
		position:absolute;
		top:50%;
		left:50%;
		@include vendors(transform,translate(-50%,-50%));
	}
}

.home{
    overflow-x: hidden;
    padding: 0;
	section{
		padding:20px;
		@media(min-width:620px){
			height:100vh;
		}
		position:relative;
	}	
	section:nth-of-type(1){
		overflow:hidden;
		background-image: url(img/inicio.jpg);
		@include imgcover();
		@media(min-width:1200px){background-attachment:fixed;}		
		h1{
    		font-family: globerthin_free;
    		text-transform: uppercase;
    		font-weight: 500;
    		line-height: 1.1;
    		margin-top: 10px;
    		font-size: 40px;
    		color: #333;    		
		}
		.msg-sec1{
			.descripcion{
				background-color: rgba(0, 0, 0, 0.8);
    			color:#fff;
    			padding:20px;
    			font-family: 'Open Sans', sans-serif;
			}
		}
		.hleft{
			float:left;
		}
		.hright{
			float:right;
		}
		@media(min-height:800px){
			background-position:top center!important;
			h1{
				font-size:36px;
				margin-top:-50px;
				margin-bottom:30px;
			}
			.logoh{margin-top:-195px;}
		}

		@media(max-width:640px){
			h1{font-size:28px;margin-top:inherit;margin-bottom:20px;}
			.logoh{width:150px;margin-top:inherit;}
			.hleft,.hright{float:none!important;margin:10px auto 0;width:120px;}
		}
	}
	section:nth-of-type(2){
		overflow:hidden;
		background: #868686;
		background: -moz-linear-gradient(45deg,  #868686 61%, #868686 61%, #717273 100%);
		background: -webkit-gradient(linear, left bottom, right top, color-stop(61%,#868686), color-stop(61%,#868686), color-stop(100%,#717273));
		background: -webkit-linear-gradient(45deg,  #868686 61%,#868686 61%,#717273 100%);
		background: -o-linear-gradient(45deg,  #868686 61%,#868686 61%,#717273 100%);
		background: -ms-linear-gradient(45deg,  #868686 61%,#868686 61%,#717273 100%);
		background: linear-gradient(45deg,  #868686 61%,#868686 61%,#717273 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868686', endColorstr='#717273',GradientType=1 );
		position:relative;
		z-index:-1;
		#content-seccion2{	
			opacity:0;
			h5{position:absolute;font-family:'globersemibold_free';color:#37444a;font-size:18px;text-transform:uppercase;}
			h5:nth-of-type(1){left:23%;}
			h5:nth-of-type(2){right:29.5%;}
			@media(max-width:640px){
				p{left:inherit!important;right:inherit!important;text-align:center;position:relative;}
			}
		}
		li h1{
			font-size:100px;
			text-transform:uppercase;
			small{color:#fff;font-size:20px}
		}
		li h1, li h2{
			font-family:$gthifree;
			text-transform:uppercase;
			color:#fff;
			line-height:1;
		}
		&:after{
			display:block;
		}
		@media(max-width:943px){
			&::after{
				display:none;
				content: '';
	    		width: 0;
	    		height: 0;
	    		border-style: solid;
	    		border-width: 0px 10px 920px 1890px;
	    		border-color: transparent rgba(255, 255, 255, 0) #808080 transparent;
	    		position: relative;
	    		right: 20%;
	    		top:-150px;
	    		z-index:-1;
			}
		}
		ul{
			position:relative;z-index:100;
			li:nth-of-type(2){
				border-left:1px solid #30383c;
				border-right:1px solid #30383c;
			}
		}

		.car{
			z-index:100;
			@media(max-width:1000px){
				img{width:70%}
			}
		}
	}
	section:nth-of-type(3){
		background-color:#000;
		h1{
			font-family:$gthifree;
			text-transform:uppercase;
			font-size:50px;
			color:#fff;
			em{color:#37444a;font-style:normal;font-weight:600;}
		}
		#elcar3{
			-webkit-opacity:0;
			opacity:0;
		}
		.center{
			width:85%;			
			@media(max-width:800px){
				width:100%;
			}
		}
	}
	section:nth-of-type(4){
		::-webkit-input-placeholder {color: #37444a!important;}
		:-moz-placeholder           {color: #37444a!important;}
		:-ms-input-placeholder      {color: #37444a!important;}
		h1{
			text-transform:uppercase;
			font-size:50px;
			font-family:$gthifree;
			color:#37444a;
			@media(max-width:640px){font-size:30px;}
		}
		div{font-family: 'Open Sans', sans-serif;}
		h6,p{color:#37444a;}
		form input, form textarea {
    		border: 1px solid #37444a!important;
		}
		.campos span:nth-of-type(2),.campos span:nth-of-type(3){
			display:block;
			float:left;
			width:49%;
		}
		.campos span:nth-of-type(3){
			margin-left:2%;
		}
		@media(max-width:641px){
			.campos span:nth-of-type(2),.campos span:nth-of-type(3){
				width:100%;
				float:inherit;
				margin-left:0;
			}	
		}
		form input[type="submit"]{
			float: right;
    		background-color: #37444a;
    		font-family: 'Open Sans', sans-serif;
    		color: #fff;
    		font-size: 16px;
    		padding: 5px 20px;
    		font-weight: bold;
		}
	}
	section:nth-of-type(5){
		height:auto;
		padding:50px 10px;
		background-color:#000;
		p{color:#fff;font-size:12px;}
		.foterlogo{
			position: relative; 
			img{
				@media(min-width:640px){
					margin-top: 40%;
				}
			}   		
		}
	}
}
.opacidad{
	-webkit-opacity:1!important;
	opacity:1!important;
	@include vendors(transition, .8s);
}
form>p{
	display:none;
}
.wpcf7-mail-sent-ok {
    text-align: center;
}
/* Margen de la lista de la seccion 2*/
.ms2{
	margin-bottom:40px!important;
}
.diagonal{
   	overflow: hidden;
   	border: 1px solid;
   	border-color:transparent transparent transparent #535759;
   	position: absolute;
   	right: 0;
   	top: 0;
   	@media(max-width:1100px){
   		top:-120px;
   	}
   	height: 100%;
   	width: 100%;
}